<!--templates/home.html-->
{% extends "base.html" %}

{% block content %}
<h1>Welcome to Micah's Homepage</h1>
<p>Sorry, no funny panda pics yet :(</p>
<p>test</p>
<p>{{test}}</p>
<table>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">URI</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ message.uri }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}